.asset-link {
  .asset-issuer {
    color: var(--color-dimmed);
    font-size: 0.8em;
    letter-spacing: 0;
  }

  .asset-icon {
    display: inline-block;
    color: var(--color-text);
    width: 1.1em;
    height: 1.1em;
    vertical-align: middle;
    margin-right: .1em;
    line-height: 1.1;
    background: transparent center center no-repeat;
    background-size: contain;
    margin-top: -0.2em;

    &.icon {
      margin-top: 0;
    }
  }
}