.account-address {
  * {
    white-space: nowrap;
  }

  .account-key {
    white-space: normal;
    word-break: break-word;
  }

  &.plain * {
    font: inherit;
    white-space: normal;
  }
}

h2,
.table {
  .account-address * {
    letter-spacing: -.05em;
  }
}