.table {
  border-collapse: collapse;
  border-radius: $border-radius-input;
  width: 100%;

  th {
    font-weight: bold;
    font-family: $font-face-header;
    text-align: left;
    vertical-align: middle;
  }

  thead,
  tr:nth-child(2n) {
    background-color: var(--color-border-shadow);
    transition: background-color 0.1s;
  }

  thead {
    border-bottom: 1px solid var(--color-contrast-border);
  }

  td, th {
    padding: .5em .7em;
    border: none;

    &.collapsing {
      width: 1px;
    }
  }

  td {
    border-bottom: 1px solid var(--color-contrast-border);
    vertical-align: middle;
  }

  &.active tbody > tr:hover {
    cursor: pointer;
    background-color: var(--color-alt-bg);
  }

  &.compact {
    td, th {
      padding: .4em .5em;
    }
  }

  &.clear {
    tr {
      background-color: transparent;
    }

    td, th {
      padding: .1em .2em;
      border: none;
    }
  }

  @media (max-width: $responsive-mobile-browser-width) {
    display: block;
    margin: auto $container-padding/2*-1;
    width: calc(100% + #{$container-padding});

    thead, th {
      display: none;
    }

    tbody, td {
      display: block;
      width: 100% !important;
      box-sizing: border-box;
    }

    tr {
      display: block;
    }

    td {
      text-align: left !important;
      border: none;
      padding: 0.1em $space-micro !important;

      &:before {
        content: attr(data-header);
        color: var(--color-dimmed);
      }

      &:first-child {
        border-top: 1px solid var(--color-contrast-border);
        padding-top: $container-padding !important;
      }

      &:last-child {
        padding-bottom: $container-padding !important;
      }
    }

    &.clear {
      td {
        padding: .1em $space-micro !important;
      }
    }
  }
}
