:root {
  --color-primary: #{$color-primary};
  --color-highlight: #08b5e5;
  --color-dimmed: #999;
  --color-alert: #dc3545;
  --color-success: #28a745;
  --color-warning: #b27100;
  --color-price-up: #00ba00;
  --color-price-down: #df0000;
  --color-modal-bg: rgba(0, 0, 0, .2);
}

:root[data-theme=day] {
  --color-bg: #fff;
  --color-dashboard-bg: #f5f5f5;
  --color-alt-bg: #f2fcff;
  --color-alt-border: #e8e8e8;
  --color-text: #333;
  --color-contrast-border: #d8dadb;
  --color-border-shadow: rgba(189, 191, 192, .1);
  --color-backdrop: rgba(0, 0, 0, .35);
  --color-alert-bg: #f4d5d8;
  --color-warning-bg: #ebdbbf;
  --color-success-bg: #d0ecd6;
}

:root[data-theme=night] {
  --color-bg: #1b414a;
  --color-dashboard-bg: #272c2e;
  --color-alt-bg: #12363f;
  --color-alt-border: #2f464c;
  --color-text: #eee;
  --color-contrast-border: #535759;
  --color-border-shadow: rgba(176, 185, 189, 0.1);
  --color-backdrop: rgba(0, 0, 0, 0.25);
  --color-alert-bg: #553d49;
  --color-warning-bg: #484f34;
  --color-success-bg: #1b5340;
}

.color-primary {
  color: var(--color-primary);
}

.color-success {
  color: var(--color-success);
}

.color-warning {
  color: var(--color-warning);
}

.color-danger {
  color: var(--color-alert);
}

.color-alt-bg {
  color: var(--color-alt-bg);
}