@import "./button";

.button-group {
  > * {
    vertical-align: top;
  }

  &:not(:last-child) {
    margin-right: $button-spacing;
  }

  & > button,
  & > .button {
    + .button {
      margin-left: -0.76em;

      &.small {
        margin-left: -0.96em;
      }

      &:before {
        border-left: 2px solid var(--color-primary);
      }
    }

    &.selected {
      &.disabled,
      &[disabled] {
        cursor: pointer;
        color: var(--color-text);
        opacity: 1;

        &:before {
          background: var(--color-primary);
        }
      }
    }

    &:not(:last-child) {;
      margin-right: 0;
    }
  }

  & > :not(:last-child) > .button {
    margin-right: 0;
  }
}