@use "../basic-styles/variables";
@import "./button";

.button-group {
  > * {
    vertical-align: top;
  }

  &:not(:last-child) {
    margin-right: $button-spacing;
  }

  & > button,
  & > .button {
    border-radius: 0;

    &:first-child {
      border-radius: $border-radius-input 0 0 $border-radius-input;
    }

    &:last-child {
      border-radius: 0 $border-radius-input $border-radius-input 0;
    }

    &:not(:last-child) {
      border-right-color: var(--color-primary);
      margin-right: 0;
    }
  }

  & > * > button,
  & > * > .button {
    border-radius: 0;
  }

  & > :first-child > .button {
    border-radius: $border-radius-input 0 0 $border-radius-input;
  }

  & > :not(:last-child) > .button {
    border-right-color: var(--color-primary);
    margin-right: 0;
  }
}