@use "../basic-styles/variables";

.dd-wrapper {
  display: inline-block;
  position: relative;
  padding-right: 0.3em;

  &.reset {
    //reset styles
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $font-line-height-base;
  }

  .dd-toggle {
    $toggle-size: 0.4em;
    display: inline-block;
    width: $toggle-size;
    height: $toggle-size;
    border: 1px solid currentColor;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotateZ(135deg) translate($toggle-size*0.4, -$toggle-size*0.4);
    transform-origin: top right;
    transition: transform 0.2s;

    &.visible {
      transform: rotateZ(135deg) scale(-1) translate($toggle-size*0.2, -$toggle-size*0.2);
    }
  }

  .dd-header {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;

    &.button {
      color: var(--color-bg);
    }
  }

  .button .dd-toggle {
    margin-left: 0.2em;
  }

  .dd-list {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $font-line-height-base;
    letter-spacing: normal;
    position: absolute;
    z-index: 1000;
    visibility: hidden;
    text-align: left;
    top: calc(100% - 0.1em);
    background: var(--color-bg);
    border: 1px solid var(--color-contrast-border);
    border-radius: $border-radius-input;
    box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, .3);
    text-transform: none;
    user-select: none;
    margin-left: -0.8em;

    &.align-right {
      right: -0.2em
    }

    > ul {
      display: block;
      overflow-y: auto;
      color: var(--color-primary);
      margin: 0;
      height: 0;
    }

    .dd-list-header, .dd-list-footer {
      padding: .7em;
    }

    .dd-list-header + hr {
      margin-top: 0;
    }

    &.visible {
      visibility: visible;

      > ul {
        height: auto;
      }
    }

    hr {
      margin: 0.5em 0;
    }
  }

  &.solo {
    .dd-list {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      max-height: 90vh !important;
      max-width: 40rem;
      @media (max-width: $responsive-mobile-browser-width) {
        min-width: 50vw;
        max-width: 90vw;
        width: 90vw;
      }
    }

    .backdrop {
      background: var(--color-backdrop);
      display: block;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  &:hover {
    a {
      color: var(--color-highlight);
    }
  }

  &.disabled {
    .dd-toggle {
      border-top-color: var(--color-contrast-border);
      border-right-color: var(--color-contrast-border);
    }

    .dd-list > ul {
      color: var(--color-contrast-border);
    }
  }

  .dd-list-item {
    cursor: pointer;
    padding: 0;
    margin: 0;

    > a {
      padding: .4em .7em;
      display: block;
      color: inherit;
      white-space: nowrap;

      &:hover {
        background: var(--color-alt-bg)
      }

      &.selected {
        cursor: default;
        color: var(--color-text);
        background: var(--color-alt-bg);
      }
    }
  }
}