.slider {
  .categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.85*$font-size-base;
    line-height: 1;

    option {
      padding: 0;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}