@use "../basic-styles/variables";

.slider {
  .categories {
    display: flex;
    justify-content: space-between;
    width: 100%;

    option {
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}