@use "../basic-styles/variables";

.tabs {
  .tabs-header {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tabs-item {
      color: var(--color-bg);
      font-family: $font-face-header;
      font-weight: normal;
      line-height: 2.6;
      display: inline-block;
      font-size: $font-size-base;
      text-decoration: none;
      padding: 0 0.8em;
      position: relative;
      text-align: center;
      min-width: 4em;

      @media (max-width: $responsive-mobile-browser-width) {
        font-size: 0.9*$font-size-base;
        min-width: 3.5em;
      }

      &:before {
        content: '';
        display: block;
        background: var(--color-highlight);
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        transform: skew(-20deg);
      }

      &:hover:before {
        background: var(--color-primary);
      }

      + .tabs-item:before {
        border-left: 2px solid var(--color-primary);
        margin-left: -1px;
      }

      &.selected {
        color: var(--color-text);
        cursor: pointer;

        &:before {
          background: var(--color-primary);
        }
      }

      .tabs-item-text {
        position: relative;
      }
    }
  }

  &.inline-right {
    .tabs-header {
      justify-content: right;
    }
  }

  > hr.flare {
    margin-top: 0;
  }
}