@use "../basic-styles/variables";

.tabs {
  .tabs-header {
    border-bottom: 1px solid var(--color-contrast-border);
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tabs-item {
      color: var(--color-bg);
      font-family: $font-face-header;
      font-weight: normal;
      line-height: 2.6;
      display: inline-block;
      font-size: 1.6rem;
      text-decoration: none;
      padding: 0 0.8em;
      position: relative;

      &:before {
        content: '';
        display: block;
        background: var(--color-highlight);
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        height: 100%;
        transform: skew(-20deg);
      }

      &:hover:before {
        background: var(--color-primary);
      }

      + .tabs-item:before {
        border-left: 2px solid var(--color-primary);
        margin-left: -1px;
      }

      &.selected {
        color: var(--color-text);
        cursor: pointer;

        &:before {
          background: var(--color-primary);
        }
      }
    }
  }

  &.inline-right {
    margin-top: -3.6em;

    .tabs-header {
      justify-content: right;
    }
  }
}