.accordion {
  .accordion-header {
    position: relative;
    cursor: pointer;
    user-select: none;

    &:before {
      content: attr(data-collapsed);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -20px;
    }
  }

  .accordion-collapse {
    height: 0;
    overflow-y: hidden;
  }

  .option {
    &.expanded {
      > .accordion-header:before {
        content: attr(data-expanded);
      }

      > .accordion-collapse {
        height: auto;
      }
    }
  }
}